body{
    background-color: lightgrey;
    text-align: center;
}

#titleName{
    
    margin-top: 100px;
    text-align: center;
}
#titlecont{
    margin-left: 30px;
    background-color: white;
    width: 45vw;
    height: 100vh;
    float: left;
}
#titleDescription{
    margin-top: 100px;
    color: lightslategray;
    text-align: center;
}
#viewWork{
    margin-left: 100px;
    border: 2px solid lightslategrey;
    padding: 5px;
    border-radius: 30%;
}
#backGroundImage{
    background-color: white;
    float: right;
    width: 50vw;
    height: 100vh;
}
#cont1{
    height: 100vh;
    width: 70vw;
}
#ourWork
{   margin-top: 500pt;
    padding: 1px;
    height: 10vh;
    background-color: darkgoldenrod;
    margin-bottom: 0%;
}
#firstImage{
    height: 100vh;
    width: 70vw;
}
#cont2{
    height: 100vh;
    width: 70vw;
}
#secondImage{
    margin-top: 50pt;
    height: 100vh;
    width: 70vw;
}
#firstImageName
{   margin-top: 0pt;
    padding: 2px;
    height: 10vh;
    background-color:gainsboro;  
}
#cont3{
    height: 100vh;
    width: 70vw;
}
#thirdImage{
    margin-top: 70pt;
    height: 100vh;
    width: 70vw;
}
#secondImageName
{   margin-top: 0pt;
    padding: 2px;
    height: 10vh;
    background-color:gainsboro;  
}
#cont4{
    height: 100vh;
    width: 70vw;
}
#fourthImage{
    margin-top: 90pt;
    height: 100vh;
    width: 70vw;
}
#thirdImageName
{   margin-top: 0pt;
    padding: 2px;
    height: 10vh;
    background-color:gainsboro; 
    margin-top: 0%; 
}

